*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body {
    min-height: 100vh;
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    background: linear-gradient(135deg, rgba(74, 16, 65, 0.757), rgba(22, 10, 19, 0.888)),
    url("../img/ai-generated-8330087_1920.png") no-repeat top center / cover;
}

.game-header {
    background-color: #e6e6e6;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.game-header h1 {
    color: #3f022b;
}

.home-icon {
    height: 50px;
    width: 50px;
}

.container {
    display: flex;
    margin-top: 100px;
    align-items: center;
}

.sidbar-game {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.sidebar {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    background: #e6e6e6;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 300px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.list li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list li h2 {
    margin: auto;
}

li button {
    margin: 10px;
}

button .icon {
    height: 50px;   
    padding: 10px;
}

button {
    cursor: pointer;
    background-color: #3f022b;
    border: 1px solid white;
    border-radius: 9px;
    height: 50px;
    width: 50px;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0px;  
}

button:hover {
    border-radius: 0;
}
 
.wrapper {
     
    background: #e6e6e6;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 100%;
}

.view img {
   height: 220px;
   width: 150px;
   padding: 5px;
}

.cards {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 
}

ul {
    list-style: none;
}
.bgm {
    background-image: url("../img/PinkFlower.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}